@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    position: relative;
}

.pgdn{
    display: flex;
    align-items: stretch;
    margin-top: 75px;
}

#persdat,
#mkschl,
#strqs,
#resrq,
#viwemp,
#prodet,
#appo,
#wkschl,
#ntfst{
    display: none;
}

.block:nth-child(1){
    width: 250px;
    border-right: 2px solid rgba(116, 161, 158, 0.35);
    padding-left: 15px;
}

.block:nth-child(2){
    width: calc(100% - 250px);
}

.sblk{
    border-bottom-left-radius: 25px;
    border-bottom: 5px solid rgba(116, 161, 158, 0.35);
    padding-bottom: 25px;
    padding-left: 35px;
}

.sblk:last-child{
    border-bottom: none;
}

h3{
    font-family: 'Titillium Web', sans-serif;
    font-size: 2em;
    font-weight: normal;
    margin: 25px 0;
    background: linear-gradient( 225deg, rgb(40, 60, 134), rgb(69, 162, 71));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    width: fit-content;
}

.close{
    outline: none;
    border: none;
    font-size: 1.15em;
    padding: 5px 10px;
    cursor: pointer;
    transition: .35s ease-in-out;
    background: none;
    position: absolute;
    top: 10px;
    right: 35px;
    font-family: 'Caveat', cursive;
    background: linear-gradient(to right, rgb(237, 33, 58), rgb(147, 41, 30));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transform: rotate(315deg);
    text-shadow: 1px 1px 5px rgb(63, 19, 19, .5);
    z-index: 3;
}

.res01 .close{
    top: 35px;
}

.close:hover{
    transform: rotate(0deg);
}

.viw-btn,
.addbtns{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: flex-end;
    margin-right: 35px;
    margin-top: 35px;
}

.addbtns button{
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    padding: 10px 15px;
    font-size: 1.25em;
    border-radius: 15px;
    transition: .35s ease-in-out;
    cursor: pointer;
}

.viw-btn button{
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    padding: 10px 15px;
    font-size: 1.15em;
    border-radius: 15px;
    transition: .35s ease-in-out;
    cursor: pointer;
}

.viw-btn button:hover,
.addbtns button:hover{
    background: rgb(199, 199, 199);
    color: ghostwhite;
}

button[type = "submit"]{
    outline: none;
    border: none;
    width: fit-content;
    font-size: 1.15em;
    padding: 10px 15px;
    cursor: pointer;
    transition: .35s ease-in-out;
    font-family: 'Poppins', sans-serif;
}

button[type = "submit"]:hover{
    background-color: rgb(0, 150, 0);
    color: rgb(184, 255, 177);
}

.searchbx{
    margin: 35px 0;
    width: 75%;
    background: gainsboro;
    left: -35px;
    padding: 20px;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
}

.searchbx input{
    border: none;
    outline: none;
    padding: 5px 75px 5px 15px;
    width: 85%;
    font-size: 1.25em;
    font-family: 'Poppins', sans-serif;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
}

.searchbx input::placeholder{
    color: gainsboro;
}

.searchbx button{
    border: none;
    outline: none;
    background-color: unset;
    transition: .35s ease-in-out;
    position: absolute;
    top: 13px;
    right: 17.5%;
}

.searchbx button img{
    width: 35px;
}

.searchbx button:hover{
    background: unset;
    filter: hue-rotate(135deg);
}

.res01{
    width: 95%;
    padding: 15px;
    border-radius: 25px;
    border-left: 5px solid rgba(100, 148, 237, 0.25);
    border-right: 5px solid rgba(100, 148, 237, 0.25);
    background-color: rgba(149, 182, 245, 0.1);
    margin: 10px 0;
}

.res-sub{
    padding: 15px;
}

.res-sub h4{
    font-weight: normal;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.15em;
    margin: 15px 0;
    margin-left: 25px;
}

.res-sub table{
    margin-left: 75px;
    border-spacing: 0px;
}

.res-sub table tr:nth-child(even){
    background-color: rgb(255, 255, 248);
}

.res-sub table tr td{
    padding: 5px 15px;
}

.res-sub table tr td:first-child{
    font-size: 1.15em;
    font-family: 'Raleway', sans-serif;
    color: gray;
}

.res-sub table tr td:nth-child(2){
    font-size: 1.25em;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    color: rgb(104, 104, 104);
    padding: 5px 30px;
}

.res-sub table tr td:last-child{
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}

.pers-btns{
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: flex-end;
    margin-right: 35px;
    margin-top: 35px;
    width: 75%;
}

.pers-btns button{
    outline: none;
    border: none;
    width: fit-content;
    font-size: 1.15em;
    padding: 10px 15px;
    cursor: pointer;
    transition: .35s ease-in-out;
    font-family: 'Poppins', sans-serif;
    box-shadow: inset -1px -1px 5px rgb(158, 158, 158);
}

.pers-btns #apppr:hover{
    background-color: rgb(0, 150, 0);
    color: rgb(184, 255, 177);
}

.pers-btns #pendd:hover{
    background-color: rgb(0, 115, 150);
    color: rgb(177, 230, 255);
}

.pers-btns #rejjt:hover{
    background-color: rgb(150, 0, 0);
    color: rgb(255, 177, 177);
}

.dropmenu{
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-right: 100px;
    padding-left: 50px;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    background: gainsboro;
    width: fit-content;
    left: -35px;
    margin: 15px 0;
}

.dropmenu label{
    font-size: 1.25em;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.dropmenu select{
    outline: none;
    border: none;
    padding: 5px 10px;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25em;
    color: rgb(122, 122, 122);
}

.def h4{
    font-weight: normal;
    font-size: 1.5em;
    font-family: 'Titillium Web', sans-serif;
    margin: 15px 5px;
}

.def table{
    margin-left: 25px;
    border-spacing: 0px;
}

.def table tr:nth-child(even){
    background-color: rgb(247, 247, 230);
}

.def table tr{
    transition: .35s ease-in-out;
    outline: unset;
    margin: 5px 0;
}

.def table tr:hover{
    outline: 1.5px dashed rgb(0, 61, 78);
}

.def td{
    padding: 10px 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.15em;
}

.res02 table{
    width: 75%;
    margin: 35px 0;
    margin-left: 15%;
}

.res02 th{
    font-size: 1.15em;
    font-weight: normal;
    font-family: 'Titillium Web', sans-serif;
}

.res02 tr:nth-child(even){
    background-color: azure;
}

.res02 td{
    font-size: 1.25em;
    font-family: 'Raleway', sans-serif;
    padding: 5px 15px;
    text-align: center;
}

.res02 td select{
    font-size: 0.8em;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    outline: none;
}

.resub table,
.res04 table,
.res03 table{
    margin: 35px 0;
    width: 95%;
    border-spacing: 0px;
}

.resub th,
.res04 th,
.res03 th{
    font-size: 1.25em;
    font-weight: normal;
    font-family: 'Titillium Web', sans-serif;
}

.res04 tr:nth-child(even),
.res03 tr:nth-child(even){
    background-color: azure;
}

.resub td,
.res04 td,
.res03 td{
    font-size: 1.15em;
    font-family: 'Raleway', sans-serif;
    padding: 5px 10px;
    text-align: center;
}

.res04 td:nth-child(6),
.res03 td:nth-child(6){
    font-size: 1em;
    max-width: 300px;
}

.res04 td .lee,
.res03 td .lee{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tb-btns{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    width: 95%;
    margin: 15px 0;
}

.tb-btns button:first-child{
    padding: 7.5px 10px;
    outline: 0;
    border: 0;
    font-size: 1.25em;
    cursor: pointer;
    transition: .35s ease-in-out;
}
.resub td button{
    padding: 5px 10px;
    outline: 0;
    border: 0;
    font-size: 1.15em;
    transition: .35s ease-in-out;
}

.res04 td button,
.res03 td button{
    padding: 10px;
    outline: 0;
    border: 0;
    font-size: 1.15em;
    transition: .35s ease-in-out;
}

.res04 td:last-child,
.res03 td:last-child{
    background-color: transparent;
}

.res04 td button:first-child:hover,
.res03 td button:first-child:hover{
    background-color: rgb(147, 255, 147);
    color: rgb(0, 163, 0);
}

.resub td button:hover,
.res04 td button:last-child:hover,
.res03 td button:last-child:hover{
    background-color: rgb(255, 180, 180);
    color: rgb(146, 0, 0);
}

.tb-btns button:first-child:hover{
    background-color: rgb(175, 223, 255);
    color: rgb(0, 56, 141);
}

.resub{
    padding: 15px;
    border-radius: 25px;
    border-left: 3px solid rgba(156, 206, 224, 0.25);
    border-bottom: 8px solid rgba(156, 206, 224, 0.25);
    background-color: rgba(178, 233, 255, 0.1);
    width: 95%;
    margin: 25px 0;
    box-shadow: 3px -5px 5px rgba(12, 110, 73, 0.5);
}

.resub h5{
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    margin: 20px 25px;
}

.resub .close{
    top: 50px;
    right: 50px;
}

.resub tr:nth-child(even){
    background-color: rgb(240, 228, 213);
}

.resub td input{
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    outline: none;
}

.resub:first-child table{
    width: fit-content;
    margin-left: 50px;
}

.resub:first-child td{
    text-align: left;
}

.resub:last-child .subsub{
    width: 50%;
    margin-left: 25%;
    padding: 15px;
}

.resub:last-child .bli{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.resub:last-child .bli:last-child{
    align-items: flex-end;
}

.resub:last-child .bli:last-child button{
    margin: 15px 0;
}

.resub:last-child label{
    font-size: 1.15em;
    font-family: 'Raleway', sans-serif;
    margin: 10px 0;
}

.resub:last-child .bli select,
.resub:last-child .bli textarea,
.resub:last-child .bli input{
    margin-left: 15px;
    margin-top: 10px;
    font-size: 1.25em;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 1.5px solid rgb(133, 133, 133);
}

.resub:last-child .bli select{
    width: 50%;
    margin-left: 45%;
}

.resub:last-child .bli input:focus{
    outline: none;
    font-size: 1.25em;
    font-family: 'Poppins', sans-serif;
}

.resub:last-child .bli input::placeholder{
    color: rgb(187, 187, 187);
}

.res02 button[type="submit"],
.res03 button[type="submit"],
.res04 button[type="submit"]{
    margin: 15px 0;
    margin-left: 85%;
}